<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.base_url }}/css/app.css">
  </head>
  <body>
    {{ content }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      /*global $*/
      var $projects = $('li');
      $('span.tag').click(function () {
        var tag = this.innerHTML;
        $projects.filter('.active').removeClass('active');
        $('span.tag-' + tag).closest('li').addClass('active');
      });
      $(document).on('keyup', function (e) {
        if (e.which === 27) {
          $projects.filter('.active').removeClass('active');
        }
      });
    </script>
  </body>
</html>
