<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.base_url }}/css/app.css">
  </head>
  <body>
    {{ content }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
/*global $*/
var $projects = $('li')

if (window.location.hash) {
  $('span.tag-' + window.location.hash.substr(1)).closest('li').addClass('active')
}

$('span.tag').click(function () {
  var tag = this.innerHTML
  $projects.filter('.active').removeClass('active')
  if (window.location.hash !== '#' + tag) {
    $('span.tag-' + tag).closest('li').addClass('active')
    window.location.hash = tag
  } else {
    window.location.hash = ''
  }
})

$(document).on('keyup', function (e) {
  if (e.which === 27) {
    $projects.filter('.active').removeClass('active')
    window.location.hash = ''
  }
})
    </script>
  </body>
</html>
